/*** Global element ***/
body {position: relative;}
body, pre{font-family: 'Open Sans', Roboto, Helvetica, sans-serif; font-size: 14px;}
a{color:#333333;}
a:focus, a:hover{text-decoration:none;color:#36ace2;}
ul{padding-left:20px;list-style: none;}
hr{margin:40px 0;}
hr.dashed{border-style:dashed;}

/*** Global class ***/
.no-select{-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.no-outline{outline: none;}
.color-theme{color:#36ace2;}
.bg-f5{background-color:#f5f5f5 !important;}
.bg-f0{background-color:#f0f0f0 !important;}
.lighter{font-weight:300;}
.semi-bold{font-weight:500;}
.bold{font-weight:700;}
.relative{position:relative;}
.inline-block{display: inline-block;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-middle{vertical-align: middle;}
.margin-center{margin:0 auto;}

.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
  -ms-touch-action: auto;
      touch-action: auto;
}

/*** HEADER ***/
.header {background:#fff; min-height: 95px;}

/** Main Menu **/
.navbar-main {position: sticky;box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);}
.navbar-main .navbar-brand {padding: 0;}
.navbar-main .logo {height: 45px; transition: all 0.3s ease;}
.navbar-main .navbar-nav .nav-item {padding:0 5px;}
.navbar-main .navbar-nav .nav-link {color:#333; text-transform: uppercase; padding: 17px 8px 3px; font-weight: 400; font-size: 16px;}
.navbar-main .navbar-nav .nav-link:hover,
.navbar-main .navbar-nav .nav-link:focus,
.navbar-main .navbar-nav .nav-link.active{color:#36ace2;}
.navbar-main .navbar-nav .dropdown-menu {border-radius: 0; min-width: 200px; font-size: 14px; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);}
.navbar-main .navbar-nav .nav-item:hover .dropdown-menu{display: block;}
.navbar-main .navbar-nav .dropdown-menu .dropdown-item {padding: 7px 16px; color:rgba(0,0,0,.5);}
@media all and (max-width: 991px) {
  .navbar-main .navbar-brand {margin: 0 auto;}
  .offcanvas-collapse {position: fixed;top: 61px;bottom: 0;left: -285px;width: 280px;overflow-y: auto;background-color: #fff;transition: left .3s ease-in-out;  }
  .offcanvas-collapse.open {display:block; left:0;}
  .menu-overlay {display: none; background-color: #000;bottom: 0;left: 0;opacity: 0.5;filter: alpha(opacity=50);position: fixed;right: 0;top: 0;z-index: 1025;}
  .navbar-main .navbar-nav .dropdown-menu {border-top:none; border-left:none; border-right: none; display:block; padding-top: 0; box-shadow: none;}
}

/** language bar **/
.langbar {float: right!important;margin: 5px 0px 2px 20px;}
.language #language-button {background-color: #36ace2;color: #fff;padding: 5px 8px;border-radius: 4px;cursor: pointer;}
.language-select {left: auto;right: 0;background-color: #fff;padding: 5px 0;border: 0;border-top: 2px solid #0096d6;border-radius: 0;margin-top: 5px;overflow: hidden;}
.language img {vertical-align: middle;margin-right: 3px;}
.language-select li img {margin-right: 15px;}
.language-select li a {padding: 5px 20px;cursor: pointer;font-weight: 500;white-space: nowrap;}

/** Info Head **/
.info-head{padding:0; overflow:hidden;}
.info-head .item{float:left;margin:7px 30px 12px 0;line-height:1.2;cursor:pointer;}
.info-head .item:last-child{margin-right:0;}
.info-head .item a{display:block;}
.info-head .item a:hover{opacity: 0.8;}
.info-head .item .fa{float:left;font-size:14px;height:30px;width:30px;line-height:30px;margin-right:10px;text-align:center;background-color:#36ace2;color:#fff;border-radius:50%;}
.info-head .item .text{overflow:hidden;}
.info-head .item .title{font-size:14px;color:#4b595e;font-weight:600;text-transform:uppercase;}
.info-head .item .description{font-size:12px;color:#A4ABB0;}

/** BreadCrumb **/
.breadcrumb-wrapper{background-color: #f4f4f4; margin-bottom: 1rem;}
.breadcrumb{background-color: #f4f4f4; border-radius: 0; margin-bottom: 0;}

.breadcrumb a{color:#36ace2;}

/** Title **/
.module-title{text-transform: uppercase;}

/*** BODY ***/
.body-content{background-color:#fff;color:#333;}

/** Home **/
/* Banner */
.banner-box {background: #f5f5f5;}
.banner-box .banner-item {position: relative;}
.banner-box .banner-item .blur-banner {content:''; position: absolute; top:0; bottom:0; width: 100%; left:0; background: #f5f5f5 center no-repeat; background-size: 100% auto; filter: blur(15px); z-index: 1;}
.banner-box .banner-item .image {position: relative; z-index: 2;}
.banner-box .absolute-box {position: absolute; left:0; right:0; bottom: 75px; z-index: 10;}
.banner-box .absolute-box .container {position: relative; left:0; right:0;}
.banner-box .absolute-box .content-box {background:rgba(34,71,94,0.6); color:#fff; margin: 0 -15px; padding: 20px 25px 30px; min-height: 210px; min-width: 400px; width: 50%; text-shadow: rgb(0, 0, 0) 1px 1px 0px;}
.banner-box .absolute-box .description {font-size: 18px;}
@media all and (max-width: 991px) {
  .banner-box .absolute-box .content-box {margin: 0 auto; width: 100%;}
}
.banner-box .owl-stage .owl-item .image {height:480px; background-position: top center; background-repeat: no-repeat;background-size: auto 100%;}
.banner-box .owl-dots {position: absolute; bottom: 10px; left: 0; right: 0;}
.banner-box .owl-dots .owl-dot {outline: none;}
.banner-box .owl-dots .owl-dot span {width:12px;height:12px;background: transparent; border: 1px solid #d6d6d6;}
.banner-box .owl-dots .owl-dot:hover span {background: transparent; border-color: #36ace2; box-shadow: 0 0 1px 0px #36ace2 inset;}
.banner-box .owl-dots .owl-dot.active span {background: #36ace2; border-color: #36ace2;}

/* Home Feature */
.home-feature{background:#fff;padding:20px 0;position: relative;}
.home-feature .owl-stage-outer{padding-bottom: 5px;}
.home-feature .owl-nav .owl-prev,
.home-feature .owl-nav .owl-next{position: absolute; top:50%; margin-top:-40px; font-size:70px !important;color:#70caf2 !important;outline:none;}
.home-feature .owl-nav .owl-prev:hover, .home-feature .owl-nav .owl-next:hover{color:#36ace2 !important;background:transparent !important;}
.home-feature .owl-nav .owl-prev{left:-30px;}
.home-feature .owl-nav .owl-next{right:-10px;}

.home-feature .home-feature-box .box-item{position:relative; overflow:hidden; margin:0 20px; transition: all 0.2s ease;}
@media all and (min-width: 768px) {
  .home-feature .home-feature-box .box-item{margin:0 15px 0 0;}
}

.home-feature .box-item {margin: 0 -10px 10px;}
.home-feature .box-item:hover {box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);border-bottom-color: #969696;}
.home-feature .box-item .image-box {position: relative;display:block;background:#f0f0f0; overflow: hidden;}
.home-feature .box-item .image-box .placeholder {width: 100%; z-index: 0;}
.home-feature .box-item .image-box .image {position: absolute; top:0; background:#fff; overflow: hidden; width:100%; height: 100%; background-repeat: no-repeat; background-size: 100% auto; box-shadow: 0 1px 4px 0 rgba(0,0,0,0.45); transition: transform 0.5s ease; z-index: 1;}
.home-feature .box-item .image-box .image::before{content: '';display:block;position: absolute;width:100%;height:30%;bottom:0;left:0;right:0;background:linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2));}
.home-feature .box-item .image-box .image img {min-width:100%; min-height: 100%;}
.home-feature .box-item .image-box .content {position: absolute; bottom: 15px; left:0; text-align: center; z-index: 2;}
.home-feature .box-item .image-box .content .title {display:inline-block; padding: 15px 20px;margin:0;background-color:rgba(0,0,0,0.5);color:#fff;}
.home-feature .box-item .text{padding:15px 20px 5px;background-color:#f0f0f0;}
.home-feature .box-item .text .title{display:inline-block;color:#36ace2;font-size:18px;text-transform:uppercase;margin:0 0 15px;font-weight:600;}
.home-feature .box-item .text .input-group{margin-bottom:12px;}
.home-feature .box-item .text .input-group .extra-info {margin-right: 0px;}
.home-feature .box-item .text .extra-info{position:relative;display:inline-block;overflow:hidden; color:#333; padding-left:34px;min-height:24px;min-width: 74px;}
.home-feature .box-item .text .extra-info::before {content: '';display:block;position: absolute;top:0;left:0;height:24px;width: 24px;background-size: 100% 100%;background-position: center; background-repeat: no-repeat;}
.home-feature .box-item .text .extra-info.highlight {font-size:18px;color:#36ace2;font-weight:600;}
.home-feature .box-item .text .extra-info.position::before{top:4px;background-image: url(../images/icon/location.png);}
.home-feature .box-item .text .extra-info.size::before{background-image: url(../images/icon/size.png);}
.home-feature .box-item .text .extra-info.price::before{background-image: url(../images/icon/money.png);}
.home-feature .box-item .text .extra-info.bed::before{background-image: url(../images/icon/sleeping-room.png);}
.home-feature .box-item .text .extra-info.bathroom::before{background-image: url(../images/icon/bathroom.png);}
.home-feature .box-item .text .extra-info.dining::before{background-image: url(../images/icon/dining.png);}

.home-testimonial{padding-bottom:40px;}
.home-testimonial .media-body{position:relative;border: 1px solid #ccc;border-radius: 15px;padding: 10px 15px;}
.home-testimonial .media-body::before{content:'';position:absolute;top:20px;right:100%;width:0;height:0;border-top: 10px solid transparent;border-bottom: 10px solid transparent;border-right:10px solid #ccc;}
.home-testimonial .media-body::after{content:'';position:absolute;top:21px;right:100%;width:0;height:0;border-top: 9px solid transparent;border-bottom: 9px solid transparent;border-right:9px solid #fff;}
.home-testimonial .media-title{padding-bottom:5px;margin:0;font-weight: 600;}
.home-testimonial .media-subtitle{padding-bottom: 7px;margin:0;text-transform: uppercase;}
.home-testimonial .media img{width:128px; border-radius: 50%;}

.home-news{padding:1px 0 40px;}
.home-news .item-box {position:relative;background:#fff;margin-bottom: 15px;}
.home-news .item-box .image{height:431px;width:100%;}
.home-news .item-box .image img{width:100%;height:100%;}
.home-news .item-box .text{position:absolute;top:0;bottom:0;right:0;background:rgba(0,0,0,0.45);color:#fff;padding:15px 20px;width:280px;overflow: hidden;transition: all 0.2s ease;}
.home-news .item-box:hover .text{background:rgba(0,0,0,0.55);}
.home-news .item-box a{color:#fff;}
.home-news .card{transition: all 0.2s ease;}
.home-news .card:hover {box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);border-bottom-color: #969696;}
.home-news .card .card-body {padding: 10px;}
.home-news .card .card-img-left {width:100%; height:126px;}
.home-news .card .card-img-left img {width:100%; height:100%;}
.home-news .card .card-text{font-weight: 600;max-height: 84px;overflow: hidden;}
.home-news .link {margin-left: auto;line-height: 21px;padding:0 10px;font-size: 18px;}
@media all and (max-width: 991px) {
  .home-news .item-box .image {height:303px;}
  .home-news .item-box .description {max-height: 84px; overflow: hidden;}
}
@media all and (min-width: 1200px) {
  .home-news .card .card-img-left {width:80%;}
}

.news-list .news-title{margin:0 0 25px;padding-bottom:5px;font-weight: 300;border-bottom: 1px dashed #DDD;}
.news-list .image{float:left;margin-right:20px;overflow:hidden;}
.news-list .image img{width:100%;}
.news-list .caption{overflow:hidden;}
.news-list .title{margin:0;color:#333;font-weight:500;transition:color 0.1s;}
.news-list .title:hover{color:#0096D6;}
.news-list .meta{margin:10px 0;color:#aaa;}
.news-list .meta .category{margin-right:20px;white-space:nowrap;}
.news-list .meta .time{margin-right:20px;white-space:nowrap;}
.news-list .full .box-item{padding-bottom:20px;margin-bottom:20px;border-bottom:1px solid #eee;}
.news-list .full .image{width:315px;}
.news-list .compact .box-item{padding-bottom:10px;margin-bottom:10px;border-bottom:0;overflow:hidden;}
.news-list .compact .image{width:68px;margin-right:10px;}
.news-list .compact .title{font-size:14px;}
.news-list .compact .meta{margin-bottom:0;font-size:12px;}
@media (max-width: 767px){
    .news-list .full .image{float:none;margin-right:0;width:100%;}
}

.portfolio-banner {padding:25px 0px; background-color:#e6f5fc; background-size: 100% auto; background-position: center; margin-top: -1rem;}
.portfolio-info .content > * {display:block !important; margin-bottom: 12px;}
.portfolio-info .content > *:last-child{margin-bottom: 0;}
.portfolio-info .content > * .extra-info {margin-right: 15px;}
.portfolio-info .extra-info{position:relative;display:inline-block; color:#666; font-size: 16px; padding-left:42px; min-height:32px; line-height: 32px; min-width: 80px;}
.portfolio-info .extra-info::before {content: '';display:block;position: absolute;top:0;left:0; height:32px; width: 32px;background-size: 100% 100%;background-position: center; background-repeat: no-repeat;}
.portfolio-info .extra-info.highlight {font-size:18px;font-weight:600;}
.portfolio-info .extra-info.position::before{background-image: url(../images/icon/location-skyblue.png);}
.portfolio-info .extra-info.size::before{background-image: url(../images/icon/size-skyblue.png);}
.portfolio-info .extra-info.price::before{background-image: url(../images/icon/money-skyblue.png);}
.portfolio-info .extra-info.bed::before{background-image: url(../images/icon/sleeping-room-skyblue.png);}
.portfolio-info .extra-info.bathroom::before{background-image: url(../images/icon/bathroom-skyblue.png);}
.portfolio-info .extra-info.dining::before{background-image: url(../images/icon/dining-skyblue.png);}
.portfolio-image {margin-right: 35px;}
.portfolio-image img{width:200px; height: 200px; border-radius: 50%;}
.portfolio-menu {background-color:#fff; border-top: 1px solid #e7e7e7; border-bottom: 1px solid #e7e7e7;}
.portfolio-menu.fixed {z-index: 1040;}
.portfolio-menu .nav-item {padding:0 1rem;}
.portfolio-menu .nav-item .nav-link {position:relative; line-height: 60px; padding: 0; text-transform: uppercase; color: rgba(0,0,0,.5);}
.portfolio-menu .nav-item .nav-link:hover,
.portfolio-menu .nav-item .nav-link.active {color: #36ace2;}
.portfolio-menu .nav-item .nav-link::before {content:''; display:block; position: absolute; bottom:10px; left:0; width:0%; height: 2px; background-color: #36ace2; transition: all 0.2s ease;}
.portfolio-menu .nav-item .nav-link.active::before {width:100%;}

.call-to-action {padding:40px 0;}
.call-to-action .call{position: relative; background-color:#4fb744; color:#fff !important; margin-top: 25px;width: 80%; border-radius: 30px;}
.call-to-action .call::after {content: "";
  background-color: rgba(79, 183, 68, 0.3);
  opacity: .75 !important;
  display: block;
  position: absolute;
  top: -30%;
  left: -7%;
  width: 114%;
  height: 160%;
  border-radius: 60px;
  animation-name: pulse;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  z-index: 1;
}
.call-to-action .call span {position: relative; font-weight:600; z-index: 5;}

/*** FOOTER ***/
.footer-wrapper {background: #fff;position: relative;overflow: hidden;color: #444;}
.footer-top {border-top: 3px solid #4496d2;box-shadow: 0 0 3px 0 #f3eeeb;background: #f4f4f4;border-bottom: 1px solid #e9e9e9;position: relative;padding-top: 10px;padding-bottom: 10px;}
.footer-top ul {float: right;border: none;margin: 0;}
.footer-top ul li {float: left;padding: 10px;border: none;font-size: 13px;}
.footer-top ul li:before {display:none;}
.footer-top ul li a {padding: 6px 0px;}
.footer-wrapper h3.widget-title {color: #4593f9;font-size: 20px;}
.footer-main {padding: 30px 0;}
.footer-main .logo{width:100%; max-width:280px;}
#footer a {color: #0b4da2;}

/*** FIXED ELEMENT ***/
#scrolltop{position:fixed;display:none;background:#36ace2;color:#fff;width:35px;height:35px;line-height:31px;text-align:center;font-size:22px;bottom:20px;right:20px;border-radius:50%;cursor: pointer;z-index:10;}

/*** BUTTON ***/
.button {display:inline-block;padding:10px 25px;font-size:16px;border-radius:30px;transition:all 0.15s;}
.button > * {vertical-align: middle; display: inline-block;}
.button-lg {padding:15px 30px;border-radius:28px;font-size:18px;}
.button-md {padding:7px 18px;font-size:14px;}

.button.button-theme {background-color:#36ace2;border:1px solid #36ace2;color:#fff;}
.button.button-theme:hover {background-color:#00878a;color:#fff;border-color:#00878a;}

.button.button-outline {background-color:transparent;border:1px solid #fff;color:#fff;}
.button.button-outline:hover {background-color:#fff;color:#36ace2;border-color:#fff;}
.button.outline-theme {background-color:transparent;border:1px solid #36ace2;color:#36ace2;}
.button.outline-theme:hover {background-color:#36ace2;color:#fff;border-color:#36ace2;}
.button.outline-white {background-color:transparent;border:1px solid #fff;color:#fff;}
.button.outline-white:hover {background-color:#36ace2;color:#fff;border-color:#36ace2;}